# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
android
resources
android.old/.gitignore
android.old/build.gradle
android.old/capacitor.settings.gradle
android.old/gradle.properties
android.old/gradlew
android.old/gradlew.bat
android.old/private_key.pepk
android.old/settings.gradle
android.old/variables.gradle
android.old/.idea/.gitignore
android.old/.idea/compiler.xml
android.old/.idea/jarRepositories.xml
android.old/.idea/misc.xml
android.old/app/.npmignore
android.old/app/build.gradle
android.old/app/capacitor.build.gradle
android.old/app/proguard-rules.pro
android.old/app/src/androidTest/java/com/getcapacitor/myapp/ExampleInstrumentedTest.java
android.old/app/src/main/AndroidManifest.xml
android.old/app/src/main/assets/capacitor.config.json
android.old/app/src/main/java/io/ionic/starter/MainActivity.java
android.old/app/src/main/res/drawable-hdpi-icon.png
android.old/app/src/main/res/drawable/splash.png
android.old/app/src/main/res/drawable-land-hdpi/splash.png
android.old/app/src/main/res/drawable-land-mdpi/splash.png
android.old/app/src/main/res/drawable-land-xhdpi/splash.png
android.old/app/src/main/res/drawable-land-xxhdpi/splash.png
android.old/app/src/main/res/drawable-land-xxxhdpi/splash.png
android.old/app/src/main/res/drawable-port-hdpi/splash.png
android.old/app/src/main/res/drawable-port-mdpi/splash.png
android.old/app/src/main/res/drawable-port-xhdpi/splash.png
android.old/app/src/main/res/drawable-port-xxhdpi/splash.png
android.old/app/src/main/res/drawable-port-xxxhdpi/splash.png
android.old/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
android.old/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
android.old/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
android.old/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
android.old/app/src/main/res/mipmap-hdpi/ic_launcher.png
android.old/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
android.old/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
android.old/app/src/main/res/mipmap-mdpi/ic_launcher.png
android.old/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
android.old/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
android.old/app/src/main/res/mipmap-xhdpi/ic_launcher.png
android.old/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
android.old/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
android.old/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
android.old/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
android.old/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
android.old/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
android.old/app/src/main/res/values/ic_launcher_background.xml
android.old/app/src/main/res/values/strings.xml
android.old/app/src/main/res/values/styles.xml
android.old/app/src/main/res/xml/config.xml
android.old/app/src/main/res/xml/file_paths.xml
android.old/app/src/test/java/com/getcapacitor/myapp/ExampleUnitTest.java
android.old/gradle/wrapper/gradle-wrapper.jar
android.old/gradle/wrapper/gradle-wrapper.properties
